footer {
    background: #14222f;
    padding: 19px 0;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
}

footer ul li a {
    text-decoration: none;
    color: white;
    padding-right: 41px;
}

footer ul li a:hover {
    text-decoration: none;
    color: white;
}

footer ul li a {
    font-size: 14px;
    font-weight: 500;
}