body {
    min-height: calc(100vh + 1px);
}

@media (min-width: 1200px) {
    .container {
        max-width: 1195px !important;
    }
}

.section-width {
    width: 98%;
}

header {
    background: gray;
}

.collapse {
    margin-right: 34px;
}

.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}

.nav-link {
    font-weight: 700;
    font-size: 20px;
    /*margin: 0 22.9px;*/
    padding-left: 30.9px !important;
    padding-right: 30.9px !important;
    padding-top: 56px !important;
    padding-bottom: 10px !important;
    color: yellow !important;
}

.logo {
    border: 1px solid white;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 5px 30px;
    /*width: 240px;*/
    /*height: 78px;*/
    text-align: center;
    /*word-break: break-word;*/
    /*overflow: hidden;*/
}

.logo a {
    color: white !important;
    /*inline-size: 150px;*/
    font-size: 25px;
    font-weight: 600;
}

.home {
    color: white !important;
}

.logo h3 {
    margin: 0;
    letter-spacing: 1px;
}

.first-section .section-content {
    background-origin: content-box !important;
    background: url("/images/first-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-bottom: 9px;
}

.first-section .text-content h1 {
    color: white;
    margin-top: -21px;
    margin-bottom: 22px;
}

.first-section .text-content h1 span {
    display: block;
}

.first-section .text-content h1 span:first-child {
    font-size: 61px;
}

.first-section .text-content h1 span:nth-child(2) {
    margin-top: -6px;
    margin-right: 6px;
    font-size: 45px;
}

.first-section .text-content p {
    line-height: 27px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    padding: 0 59px;
    margin-bottom: 28px;
}

.first-section .text-content button {
    border-radius: 5px;
    width: 222px;
    height: 55px;
    border: none;
    background: red;
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.second-section {
    padding: 30px 0;
}

.welcome-text {
    margin-bottom: 35px;
}

.welcome-text h3 {
    font-size: 30px;
}

.welcome-text p {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.welcome-card {
    display: flex;
    padding: 20px;
    border: 1px solid gray;
}

.welcome-card:first-child {
    margin-bottom: 7px;
}

.welcome-card img {
    width: 282px;
    height: 176px;
    object-fit: cover;
}

.first-card {
    margin-bottom: 7px !important;
}

.first-card .text {
    margin-left: 15px;
}

.welcome-card h5 {
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}

.welcome-card p {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 3px;
}

.welcome-card button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
}

.second-section .col-5 {
    padding-left: 65px;
}

.testimonial-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 13px;
}

.testimonial-card {
    display: flex;
    padding-bottom: 6px;
    margin-bottom: 27px;
    border-bottom: 1px solid black;
}

.testimonial-card img {
    width: 96px;
    height: 143px;
    border: 1px solid grey;
    object-fit: cover;
}

.testimonial-card .text {
    padding-bottom: 7px;
    margin-left: 11px;
}

.testimonial-card .text p {
    line-height: 24px;
    font-size: 14.7px;
    margin: 0;
    font-weight: 600;
}

.testimonial-card .text p span {
    display: block;
}

.testimonial-card .text p span:last-child {
    margin-top: -7px;
}